.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    position: fixed;
    top: 0px;
    width: 100%;
}

.App-header-title {
    background-color: #FFD1DC;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    //margin: 1rem 1rem 1rem 1rem;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #FFFFF0;
}

.App-header-feedback {
    background-color: #FFFFF0;
    height: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-header-title a {
    flex-direction: row;
    margin: 1rem 1rem 1rem 1rem;
}


.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
